@{
    ViewData["Title"] = "Sign up";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br/>
<div class="signup_identity_choose">
<a href="http://localhost:5001/Cus/Create">Employee</a>
	</div>
<div class="signup_identity_choose">
<a href="http://localhost:5001/Emp/Create">Employer</a>
</div>